# general ignore
__pycache__/
.idea
*.pt
*.pth
*.pyth
*.bin
*.safetensors
*.mat
*.xyz
*.npy
*.npz
*.csv
*.so
*.egg
*.mp4
*.tar
*.gz
*.tar.gz
*.pkl
*.h5ad
*.pckl
*.ruff_cache
*.pk

# image model ignore
Image_models/Knowledge_distillation_models/LCSD/data
Image_models/3D_models/3DC/data
